// 页面
.page-container {
    padding: 32px 22px;
}

.full-page-container {
    min-height: calc(100vh - 110px);
    background-color: #fff;
    border-radius: 5px;
}

// 顶部右侧语言选择
.header-lang-right {
    display: flex;
    align-items: center;
    color: var(--font-black1);

    &::before {
        position: relative;
        left: -9px;
        display: inline-block;
        width: 12px;
        height: 12px;
        content: '';
        background: currentColor;
        border-radius: 50%;
    }
}

// 隐藏滚动条
.hide-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */

    &::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera */
    }
}

.elipsis-1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
